.edit-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--button-color);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--button-color-hover);
  }

  i {
    pointer-events: none;
  }
}
