.edit-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--button-color);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--button-color-hover);
  }

  svg {
    pointer-events: none;
    width: 20px;
    height: 20px;
  }
}
