.admin-toggle-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 99;

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    box-shadow: var(--shadow-overlay);
    transition: all 0.3s ease;

    lucide-icon {
      margin-right: 8px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .btn-label {
      display: inline-block;
    }

  }

  .btn-mobile {
    display: none;
  }
  @media (max-width: 768px) {
    right: 15px;
    left: auto;
      button.btn-desktop {
        display: none;
      }
      button.btn-mobile {
        display: flex;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        box-shadow: var(--shadow-overlay);
        transition: all 0.3s ease;
        background-color: var(--button-color);
        border: none;

        lucide-icon {
          margin: auto;
          color: var(--light-color);

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
}


