<div class="admin-toggle-container" *ngIf="isLoggedIn$ | async">
  <button mat-raised-button color="primary" (click)="toggleAdminMode()" class="btn-desktop">
    <i class="fa-solid" [ngClass]="(isAdmin$ | async) ? 'fa-user' : 'fa-user-shield'"></i>
    <span class="btn-label">
      {{ (isAdmin$ | async) ? 'Mode utilisateur' : 'Mode administrateur' }}
    </span>
  </button>

  <button (click)="toggleAdminMode()" class="btn-mobile">
    <i class="fa-solid" [ngClass]="(isAdmin$ | async) ? 'fa-user' : 'fa-user-shield'"></i>
  </button>
</div>
