<div class="admin-toggle-container" *ngIf="isLoggedIn$ | async">
  <button mat-raised-button color="primary" (click)="toggleAdminMode()" class="btn-desktop">
    <lucide-icon *ngIf="isAdmin$ | async" name="user"></lucide-icon>
    <lucide-icon *ngIf="!(isAdmin$ | async)" name="shield-user"></lucide-icon>
    <span class="btn-label">
      {{ (isAdmin$ | async) ? 'Mode utilisateur' : 'Mode administrateur' }}
    </span>
  </button>

  <button (click)="toggleAdminMode()" class="btn-mobile">
    <lucide-icon *ngIf="isAdmin$ | async" name="user"></lucide-icon>
    <lucide-icon *ngIf="!(isAdmin$ | async)" name="shield-user"></lucide-icon>
  </button>
</div>
