@if (isLoggedIn()) {
  <div class="admin-toggle-container">
    <button
      mat-raised-button
      color="primary"
      (click)="toggleAdminMode()"
      class="btn-desktop"
    >
      @if (isAdmin()) {
        <svg lucideIcon="user"></svg>
      }
      @if (!isAdmin()) {
        <svg lucideIcon="shield-user"></svg>
      }
      <span class="btn-label">
        {{ isAdmin() ? 'Mode utilisateur' : 'Mode administrateur' }}
      </span>
    </button>
    <button (click)="toggleAdminMode()" class="btn-mobile">
      @if (isAdmin()) {
        <svg lucideIcon="user"></svg>
      }
      @if (!isAdmin()) {
        <svg lucideIcon="shield-user"></svg>
      }
    </button>
  </div>
}
