<section *ngIf="program; else noProgram" class="program-detail">
  <div class="banner-container">
    <div class="banner-summary">
      <h2>
        <span *ngIf="!editMode['title']">{{ program.title }}</span>
        <input
          *ngIf="editMode['title']"
          [(ngModel)]="program.title"
          class="edit-input"
          (blur)="toggleEditMode('title')"
        />
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('title')"
        ></app-edit-button>
      </h2>
      <ul>
        <li
          *ngFor="
            let method of program.methodology;
            let i = index;
            trackBy: trackByIndex
          "
        >
          <span *ngIf="!editMode['methodology.' + i]">{{ method }}</span>
          <input
            *ngIf="editMode['methodology.' + i]"
            [(ngModel)]="program.methodology[i]"
            class="edit-input"
            (blur)="toggleEditMode('methodology.' + i)"
          />
          <app-edit-button
            *ngIf="isAdmin$ | async"
            (editClicked)="toggleEditMode('methodology.' + i)"
          ></app-edit-button>
        </li>
      </ul>
    </div>

    <div
      class="banner"
      [ngStyle]="{ 'background-image': getBackgroundImage(program) }"
    ></div>
  </div>

  <div class="program-container">
    <div class="program-info">
      <h2><span>À propos</span> de cette formation</h2>
      <div class="details">
        <div class="detail-item">
          <i class="fa-solid fa-clock"></i>
          <span>
            <strong>Durée </strong>
            <div *ngIf="!editMode['duration']">{{ program.duration }}</div>
            <input
              *ngIf="editMode['duration']"
              [(ngModel)]="program.duration"
              class="edit-input"
              (blur)="toggleEditMode('duration')"
            />
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('duration')"
            ></app-edit-button>
          </span>
        </div>
        <div class="detail-item">
          <i class="fa-solid fa-check"></i>
          <span>
            <strong>Pré-requis </strong>
            <div *ngIf="!editMode['prerequisite']">
              {{ program.prerequisite }}
            </div>
            <input
              *ngIf="editMode['prerequisite']"
              [(ngModel)]="program.prerequisite"
              class="edit-input"
              (blur)="toggleEditMode('prerequisite')"
            />
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('prerequisite')"
            ></app-edit-button>
          </span>
        </div>
        <div class="detail-item">
          <i class="fa-solid fa-people-group"></i>
          <span>
            <strong>Public cible </strong>
            <div *ngIf="!editMode['audience']">{{ program.audience }}</div>
            <input
              *ngIf="editMode['audience']"
              [(ngModel)]="program.audience"
              class="edit-input"
              (blur)="toggleEditMode('audience')"
            />
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('audience')"
            ></app-edit-button>
          </span>
        </div>
      </div>
    </div>

    <div class="program-description">
      <h2><span>Informations</span> pratiques concernant la formation</h2>
      <p>{{ program.description }}</p>
    </div>

    <div class="program-content">
      <h2><span>Contenu</span> de la formation</h2>

      <p>
        <span *ngIf="!editMode['summary']">{{ program.summary }}</span>
        <textarea
          *ngIf="editMode['summary']"
          [(ngModel)]="program.summary"
          class="edit-textarea"
          (blur)="toggleEditMode('summary')"
        ></textarea>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('summary')"
        ></app-edit-button>
      </p>

      <p>
        <span *ngIf="!editMode['content']">{{ program.content }}</span>
        <textarea
          *ngIf="editMode['content']"
          [(ngModel)]="program.content"
          class="edit-textarea"
          (blur)="toggleEditMode('content')"
        ></textarea>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('content')"
        ></app-edit-button>
      </p>

      <div class="content-list">
        <ul class="content-details">
          <li
            *ngFor="
              let item of program.details;
              let i = index;
              trackBy: trackByIndex
            "
          >
            <span *ngIf="!editMode['details.' + i]">{{ item }}</span>
            <input
              *ngIf="editMode['details.' + i]"
              [(ngModel)]="program.details[i]"
              class="edit-input"
              (blur)="toggleEditMode('details.' + i)"
            />
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('details.' + i)"
            ></app-edit-button>
          </li>
        </ul>
      </div>

      <h3><span>Modules</span> de la formation</h3>
      <ul class="modules">
        <li
          *ngFor="
            let module of program.modules;
            let i = index;
            trackBy: trackByIndex
          "
        >
          <h4>
            <span>{{ i + 1 }}. </span>
            <span *ngIf="!editMode['modules.' + i + '.title']">{{
              module.title
            }}</span>
            <input
              *ngIf="editMode['modules.' + i + '.title']"
              [(ngModel)]="module.title"
              class="edit-input"
              (blur)="toggleEditMode('modules.' + i + '.title')"
            />
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('modules.' + i + '.title')"
            ></app-edit-button>
          </h4>
          <p>
            <span *ngIf="!editMode['modules.' + i + '.description']">{{
              module.description
            }}</span>
            <textarea
              *ngIf="editMode['modules.' + i + '.description']"
              [(ngModel)]="module.description"
              class="edit-textarea"
              (blur)="toggleEditMode('modules.' + i + '.description')"
            ></textarea>
            <app-edit-button
              *ngIf="isAdmin$ | async"
              (editClicked)="toggleEditMode('modules.' + i + '.description')"
            ></app-edit-button>
          </p>
        </li>
      </ul>

      <h4 class="program-title">Voir nos <span>programmes</span></h4>
      <div class="certification-program">
        <div class="certification-button" *ngFor="let pdf of program.pdf">
          <p class="pdf-title">{{ pdf.title }}</p>
          <div class="image-container">
            <img [src]="pdf.preview" [alt]="pdf.title" class="pdf-preview" />
            <div class="overlay">
              <a
                class="pdf-content"
                [href]="pdf.url"
                target="_blank"
                rel="noopener noreferrer"
                type="application/pdf"
              >
                <span>Télécharger</span>
                <i class="fa-solid fa-file-pdf"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="program-images">
      <div
        *ngFor="
          let image of program.images;
          let i = index;
          trackBy: trackByIndex
        "
        class="image-container"
      >
        <img [src]="image" [alt]="program.title" />
        <div class="image-edit" *ngIf="isAdmin$ | async">
          <input
            *ngIf="editMode['images.' + i]"
            [(ngModel)]="program.images[i]"
            class="edit-input"
            (blur)="toggleEditMode('images.' + i)"
            placeholder="URL de l'image"
          />
          <app-edit-button
            (editClicked)="toggleEditMode('images.' + i)"
          ></app-edit-button>
        </div>
      </div>
    </div> -->

    <!-- Testimonials section -->
    <div class="testimonials">
      <h2>💬 <span>Avis</span> des participants</h2>

      <app-training-testimonials
        [programId]="program._id"
        [isAdmin]="(isAdmin$ | async) === true"
      ></app-training-testimonials>
    </div>

    <!-- Save button -->
    <button *ngIf="isAdmin$ | async" class="save-btn" (click)="saveChanges()">
      Sauvegarder les modifications
    </button>
  </div>
</section>

<ng-template #noProgram>
  <p>Le programme demandé n'existe pas.</p>
</ng-template>

<ng-template #noTestimonials>
  <p class="no-testimonials">
    Aucun témoignage n'est disponible pour le moment.
  </p>
</ng-template>
