.program-detail {
  font-family: 'Arial', sans-serif;
  color: var(--dark-color);
}

/* Bannière */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .banner {
    position: relative;
    width: 50%;
    height: 70vh;
    overflow: hidden;
    margin-left: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner-summary {
    width: 50%;
    h2 {
      font-size: var(--title-size-desktop);
      padding: var(--padding-medium) var(--padding-big);
      margin: 0;
      line-height: 1.5;
      width: 100%;
      text-align: center;

      span {
        color: var(--primary-color);
      }
    }

    ul {
      padding: var(--padding-medium) var(--padding-big);
      margin: 0 0 0 var(--margin-medium);
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: var(--h4-size-desktop);
      line-height: 1.5;

      li::marker {
        content: '✅';
      }
    }
  }
}

/* Conteneur principal */
.program-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

/* Description du programme */
.program-content {
  background: var(--background-color);
  padding: var(--padding-big) var(--padding-big) 0;
  width: 80%;
  margin: 0 auto;

  p {
    line-height: 1.6;
    margin-bottom: var(--margin-medium);
  }

  h2 {
    font-size: var(--h2-size-desktop);
    text-transform: uppercase;
    margin-bottom: var(--margin-big);
    text-align: center;

    span {
      color: var(--primary-color);
    }
  }

  .content-list {
    .content-details {
      font-size: var(--text-size-desktop);
      padding-left: var(--padding-medium);
      line-height: 1.6;
      margin-bottom: var(--margin-big);

      li {
        padding-left: 8px;
        &::marker {
          content: '🗝️';
        }
      }
    }
  }

  h3 {
    font-size: var(--h3-size-desktop);
    margin-bottom: var(--margin-big);
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: var(--primary-color);
    }
  }

  .modules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
    li {
      h4 {
        font-size: var(--text-size-desktop);
        margin-bottom: var(--margin-medium);
        text-transform: uppercase;
        font-weight: bold;
        span {
          color: var(--primary-color);
        }
      }
    }
  }
}

/* Images du programme */
.program-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  width: 80%;
  height: 350px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Informations du programme */
.program-info {
  background: var(--danger-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: var(--margin-medium);

  h2 {
    font-size: var(--h2-size-desktop);
    margin-bottom: var(--margin-small);
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: var(--primary-color);
    }
  }

  .details {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;

    i {
      font-size: var(--h3-size-desktop);
      color: var(--primary-color);
    }

    .detail-item {
      display: flex;
      align-items: center;
      gap: 25px;
      font-size: var(--small-text-size-desktop);
    }
  }
}

/* Témoignages */
.testimonials {
  background: var(--danger-color);
  padding: var(--padding-big);

  h2 {
    font-size: var(--h2-size-desktop);
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    margin: 0 auto var(--margin-medium);

    span {
      color: var(--primary-color);
    }
  }

  .testimonial {
    font-style: italic;
    margin-bottom: var(--margin-medium);
    width: 80%;
    margin: 0 auto var(--margin-medium);

    span {
      font-size: var(--small-text-size-desktop);
      font-weight: 200;
    }
  }
}

/* Bouton d'inscription */
.cta-button {
  display: inline-block;
  margin-top: var(--margin-medium);
  padding: var(--padding-medium) var(--padding-big);
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background-color: var(--button-color-hover);
  }
}

.no-testimonials {
  margin-left: 150px;
}
