/* 📸 Section Galerie */
.gallery {
  text-align: center;
  padding: 120px;

  h2 {
    font-size: var(--subtitle-size-desktop);
    margin-bottom: var(--margin-medium);
    text-transform: uppercase;

    span {
      color: var(--primary-color);
    }
  }

  .gallery-description {
    font-size: var(--text-size-desktop);
    color: var(--dark-color);
    margin-bottom: var(--margin-big);
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin: auto;

  .gallery-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.02);
    }

    h3,
    p {
      color: var(--light-color);
    }
  }
}

.gallery-admin {
  text-align: center;
  margin-top: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 50px;
  background-color: var(--button-color);
  color: var(--light-color);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px auto;

  &:hover {
    background-color: var(--button-color-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  input[type='file'] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .file-upload-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-transform: uppercase;

    i {
      font-size: 20px;
    }
  }
}

.delete-btn {
  background-color: var(--light-color);
  font-size: 20px;
  color: var(--dark-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: var(--icon-color);
    color: var(--light-color);
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;

    .close-lightbox-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(0, 0, 0, 0.7);
      color: var(--light-color);
      font-size: 24px;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.3s ease-in-out;
    }

    .close-lightbox-btn:hover {
      background: var(--icon-color);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out;
      object-fit: cover;
    }
  }
}
