<section class="certification">
  <div class="certification-container">
    <!-- <div class="certification-logo">
      <img [src]="certificationData?.certificateImage" alt="Qualiopi" />
    </div> -->
    <div class="certification-content">
      <!-- Title -->
      <h2>
        <span
          *ngIf="!editMode['certTitle']"
          [innerHTML]="certificationData?.title | safeHtml"
        ></span>
        <textarea
          autoResize
          *ngIf="editMode['certTitle']"
          [(ngModel)]="certificationData.title"
          (blur)="toggleEditMode('certTitle')"
          class="edit-textarea"
        ></textarea>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('certTitle')"
          class="edit-btn"
        ></app-edit-button>
      </h2>

      <!-- Description -->
      <p>
        <span *ngIf="!editMode['certDescription']">{{
          certificationData?.description
        }}</span>
        <textarea
          autoResize
          *ngIf="editMode['certDescription']"
          [(ngModel)]="certificationData.description"
          (blur)="toggleEditMode('certDescription')"
          class="edit-textarea"
        ></textarea>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('certDescription')"
          class="edit-btn"
        ></app-edit-button>
      </p>

      <!-- Additional Info -->
      <p>
        <span *ngIf="!editMode['certAdditionalInfo']">{{
          certificationData?.additionalInfo
        }}</span>
        <textarea
          autoResize
          *ngIf="editMode['certAdditionalInfo']"
          [(ngModel)]="certificationData.additionalInfo"
          (blur)="toggleEditMode('certAdditionalInfo')"
          class="edit-textarea"
        ></textarea>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('certAdditionalInfo')"
          class="edit-btn"
        ></app-edit-button>
      </p>

      <!-- Certificate Link
      <div>
        <a
          *ngIf="certificationData?.certificateLink && !editMode['certLink']"
          [href]="certificationData?.certificateLink"
          target="_blank"
          rel="noopener noreferrer"
          class="certification-button"
          type="application/pdf"
        >
          Voir le certificat
        </a>

        <div *ngIf="editMode['certLink']" class="link-editor">
          <input
            [(ngModel)]="certificationData.certificateLink"
            (blur)="toggleEditMode('certLink')"
            class="edit-input"
            placeholder="URL du certificat"
          />
        </div>
        <app-edit-button
          *ngIf="isAdmin$ | async"
          (editClicked)="toggleEditMode('certLink')"
          class="edit-btn"
        ></app-edit-button>
      </div> -->

      <!-- 📎 Section PDF de certification -->
      <div *ngIf="hasPdfs" class="uploaded-pdf">
        <ul class="pdf-list">
          <li *ngFor="let pdf of filteredPdfs" class="pdf-item">
            <a
              [href]="'https://docs.google.com/viewer?url=' + pdf.pdfUrl"
              target="_blank"
              class="pdf-link"
              rel="noopener noreferrer"
              type="application/pdf"
            >
              <img
                src="assets/images/pdf-placeholder.png"
                alt="PDF"
                class="pdf-icon"
              />
              <span class="pdf-title">{{ pdf.title | slice: 0 : -4 }}</span>
            </a>
            <button
              *ngIf="isAdmin$ | async"
              class="delete-btn"
              (click)="deletePdf(pdf)"
            >
              ❌ Supprimer
            </button>
          </li>
        </ul>
      </div>

      <!-- 📤 Upload PDF -->
      <div class="pdf-upload" *ngIf="isAdmin$ | async">
        <p>Ajouter un certificat PDF</p>
        <input
          type="file"
          accept="application/pdf"
          (change)="onPdfFileSelected($event)"
        />
        <button
          class="upload-btn"
          (click)="uploadSelectedPdf()"
          [disabled]="!selectedPdfFile"
        >
          Uploader le PDF
        </button>
      </div>
    </div>
  </div>
</section>
