<nav>
  <p mat-button [routerLink]="['/']" class="logo-btn">DM FORMAT</p>
  <div class="nav-links">
    <button mat-button [matMenuTriggerFor]="menu">Nos formations</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/program', 1]">Acteurs SST</button>
      <button mat-menu-item [routerLink]="['/program', 2]">
        Formateurs SST
      </button>
      <button mat-menu-item [routerLink]="['/program', 3]">
        Initiations aux premiers secours
      </button>
      <button mat-menu-item [routerLink]="['/program', 4]">
        Aide pédagogique et administrative
      </button>
    </mat-menu>

    <button mat-button [routerLink]="['/about']">Qui sommes-nous</button>
    <button mat-button [routerLink]="['/organisation']">
      Conditions d'organisation
    </button>
    <button mat-button [routerLink]="['/contact']" class="contact">
      Contactez-nous !
    </button>
  </div>
</nav>
