<nav>
  <p class="logo-btn" (click)="handleLogoClick($event)">DM FORMAT</p>

  <button
    mat-button
    [routerLink]="['/login']"
    *ngIf="showLoginButton && !(isLoggedIn$ | async)"
  >
    Se connecter
  </button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn$ | async">
    Se déconnecter
  </button>

  <div class="nav-links">
    <button mat-button [matMenuTriggerFor]="menu">Nos formations</button>
    <mat-menu #menu="matMenu" class="menu">
      <button
        mat-menu-item
        *ngFor="let training of trainings"
        [routerLink]="['/trainings', training._id]"
        class="menu-item"
      >
        <mat-icon class="icon">{{ getIconForTraining(training) }}</mat-icon>
        {{ training.title }}
      </button>
    </mat-menu>

    <button mat-button [routerLink]="['/about']">Qui sommes-nous</button>
    <button mat-button [routerLink]="['/organisation']">
      Conditions d'organisation
    </button>
    <button mat-button [routerLink]="['/contact']" class="contact">
      Contactez-nous !
    </button>
  </div>
</nav>
