.contact {
  max-width: 1100px;
  margin: auto;
  padding: var(--padding-big);
  text-align: center;

  h2 {
    font-size: var(--title-size-desktop);
    margin-bottom: var(--margin-big);
    text-transform: uppercase;

    span {
      color: var(--primary-color);
    }
  }

  .intro {
    line-height: 1.5;
    margin-bottom: var(--margin-big);
    color: var(--secondary-color);
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
  }

  /* 📌 Formulaire */
  form {
    flex: 1;
    max-width: 500px;
    background: var(--background-color);
    padding: var(--padding-big);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-soft);
  }

  .form-group {
    margin-bottom: var(--margin-small);
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;

    lucide-icon {
      color: var(--primary-color);
      margin-right: 8px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius-control);
    font-size: 1rem;
  }

  .invalid {
    border-color: var(--danger);
  }

  .error-message {
    color: var(--danger);
    font-size: var(--small-text-size-desktop);
    margin-top: 5px;
  }

  button {
    display: block;
    width: 100%;
    padding: var(--padding-medium);
    background: var(--button-color);
    color: var(--light-color);
    border: none;
    border-radius: var(--radius-control);
    cursor: pointer;
    font-size: var(--small-text-size-desktop);

    &:disabled {
      background: var(--secondary-color);
      cursor: not-allowed;
    }
  }
  .required-fields {
    margin-top: var(--margin-medium);
    font-size: var(--small-text-size-desktop);
  }

  /* 📌 Informations de contact */
  .contact-info {
    flex: 1;
    max-width: 500px;
    text-align: left;

    h3 {
      font-size: var(--h4-size-desktop);
      margin-bottom: var(--margin-medium);
      color: var(--primary-color);
      font-weight: 700;
    }

    p {
      line-height: 1.5;

      lucide-icon {
        color: var(--primary-color);
        margin-right: 4px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .map-container {
    margin-top: var(--margin-medium);
    border-radius: var(--radius-card);
    overflow: hidden;
  }
}

.captcha-container {
  text-align: center;

  .captcha-button {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 8px 15px;
    border-radius: var(--radius-control);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    &:hover {
      background: var(--info-color);
    }
  }

  .hidden-recaptcha {
    display: none;
  }

  .verified-number {
    display: flex;
    gap: 10px;
    font-size: 20px;
    animation: fadeIn 0.5s ease-in-out;
    color: var(--secondary-color);
    margin-bottom: 15px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .contact {
    .contact-wrapper {
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
    }

    form,
    .contact-info {
      max-width: 90%;
      width: 100%;
      text-align: center;
    }
    .captcha-container {
      display: flex;
      justify-content: center;
    }

    form {
      padding: var(--padding-medium);
    }

    h2 {
      font-size: calc(var(--title-size-desktop) * 0.9);
    }
  }
}

@media (max-width: 768px) {
  .contact {
    h2 {
      font-size: 28px;
    }
  }
}

@media (max-width: 480px) {
  .contact {
    padding: var(--padding-medium);

    h2 {
      font-size: 22px;
      margin-bottom: var(--margin-medium);
    }

    .intro {
      font-size: 16px;
      margin-bottom: var(--margin-medium);
    }

    label {
      font-size: 16px;

      lucide-icon svg {
        width: 16px;
        height: 16px;
      }
    }

    input,
    textarea {
      font-size: 16px;
      padding: 8px;
    }

    button {
      font-size: 16px;
      padding: 10px;
    }

    .required-fields {
      font-size: 13px;
    }

    .contact-info {
      p {
        font-size: 16px;
      }

      h3 {
        font-size: 18px;
      }

      .verified-number {
        font-size: 16px;
      }
    }

    .map-container iframe {
      height: 200px;
    }
  }
}
