<div class="partner">
  <h2>{{ partnerData?.title }}</h2>
  <p>{{ partnerData?.description }}</p>
  <h3>{{ partnerData?.profile?.name }}</h3>
  <p>Contact : {{ partnerData?.profile?.contact?.person }}</p>
  <p>Adresse : {{ partnerData?.profile?.contact?.address }}</p>
  <p>
    Email :
    <a [href]="'mailto:' + partnerData?.profile?.contact?.email">{{
      partnerData?.profile?.contact?.email
    }}</a>
  </p>
  <p>Téléphone : {{ partnerData?.profile?.contact?.phone }}</p>
  <img [src]="partnerData?.profile?.image" alt="Partner Image" />
  <p>{{ partnerData?.closingNote }}</p>
</div>
