<section class="about" *ngIf="aboutData">
  <!-- HEADER -->
  <div class="about-header">
    <div class="about-text">
      <h2>
        {{ aboutData.header.title }}
        <span>{{ aboutData.header.highlight }}</span>
      </h2>
      <p class="intro">{{ aboutData.header.description }}</p>
    </div>
    <img
      [src]="aboutData.header.image.src"
      [alt]="aboutData.header.image.alt"
      class="about-image"
    />
  </div>

  <!-- QUI SOMMES-NOUS ? -->
  <div class="who-we-are">
    <h3>{{ aboutData.who_we_are.title }}</h3>

    <div class="who-we-are-content">
      <i [class]="aboutData.who_we_are.icon"></i>
      <div class="who-we-are-text">
        <p *ngFor="let paragraph of aboutData.who_we_are.content">
          {{ paragraph }}
        </p>
      </div>
    </div>
  </div>

  <!-- CONCEPT -->
  <div class="concept">
    <h3>{{ aboutData.concept.title }}</h3>
    <div class="concept-steps">
      <div class="step" *ngFor="let step of aboutData.concept.steps">
        <i class="fa-solid" [ngClass]="step.icon"></i>
        <p>
          <strong>{{ step.title }}</strong>
        </p>
        <p>{{ step.description }}</p>
      </div>
    </div>
  </div>

  <!-- FORMATIONS -->
  <div class="trainings">
    <h3>{{ aboutData.trainings.title }}</h3>
    <p>{{ aboutData.trainings.description }}</p>
    <ul class="training-list">
      <li *ngFor="let training of aboutData.trainings.list">
        {{ training }}
      </li>
    </ul>
    <p>{{ aboutData.trainings.additional_info }}</p>
  </div>

  <!-- CERTIFICATIONS -->
  <div class="certifications">
    <h3>{{ aboutData.certifications.title }}</h3>
    <p>{{ aboutData.certifications.description }}</p>
    <div class="certification-logos">
      <img
        *ngFor="let logo of aboutData.certifications.logos"
        [src]="logo.src"
        [alt]="logo.alt"
      />
    </div>
  </div>

  <!-- PRÉVENTION -->
  <div class="prevention">
    <h3>{{ aboutData.prevention.title }}</h3>
    <p>{{ aboutData.prevention.description }}</p>
    <div class="risk-prevention">
      <div class="risk" *ngFor="let risk of aboutData.prevention.points">
        <i class="fa-solid" [ngClass]="risk.icon"></i>
        <p>
          <strong>{{ risk.title }}</strong>
        </p>
        <p>{{ risk.description }}</p>
      </div>
    </div>
  </div>
</section>
