<div class="login-container">
  <mat-card class="login-card">
    <h2>Accès Administrateur</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Identifiant</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            required
            autocomplete="on"
          />
          @if (loginForm.controls['email'].hasError('required')) {
            <mat-error> L'identifiant est requis </mat-error>
          }
          @if (loginForm.controls['email'].hasError('email')) {
            <mat-error> Format invalide </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            autocomplete="on"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            type="button"
          >
            @if (!hidePassword) {
              <lucide-icon name="eye"></lucide-icon>
            }
            @if (hidePassword) {
              <lucide-icon name="eye-off"></lucide-icon>
            }
          </button>
          @if (loginForm.controls['password'].hasError('required')) {
            <mat-error> Le mot de passe est requis </mat-error>
          }
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
        [disabled]="loginForm.invalid"
      >
        Accéder
      </button>
    </form>
  </mat-card>
</div>
