.edit-input,
.edit-textarea {
  border: 2px solid var(--primary-color);
  padding: 5px;
  font-size: var(--text-size-desktop);
  border-radius: 5px;
}

.edit-textarea {
  width: 700px;
  min-width: 100%;
  min-height: 150px;
}

.edit-input {
  min-width: 90%;
}

.save-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 18px;
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
  &:hover {
    background: var(--button-color-hover);
  }
}
