.conditions-page {
  width: 80%;
  margin: auto;

  .header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;

    .banner-image {
      width: 50%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .banner-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      z-index: -1;

      h2 {
        font-size: var(--title-size-desktop);
        margin: 100px 0 var(--title-size-desktop);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;

        span {
          color: var(--primary-color);
        }
      }

      p {
        font-size: var(--h3-size-desktop);
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 100px;
        width: 75%;
      }
    }
  }

  .intro,
  .conditions,
  .certification,
  .obligations,
  .finances {
    h3 {
      font-size: var(--h3-size-desktop);
      font-weight: 700;
      margin-bottom: 75px;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      line-height: 2;
      margin-bottom: 75px;

      strong {
        color: var(--primary-color);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      line-height: 2;
      text-align: center;
      width: 100%;
      gap: 100px;
      margin: 0 auto;

      li {
        position: relative;
        font-size: var(--text-size-desktop);
        margin-bottom: 75px;
        border-radius: 20px;
        background-color: var(--light-color);
        padding: 32px;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
        strong {
          color: var(--primary-color);
        }

        .badge {
          position: absolute;
          top: -15px;
          right: -15px;
          display: inline-block;
          padding: 5px 12px;
          background-color: var(--primary-color);
          color: var(--light-color);
          border-radius: 50%;
          margin-bottom: 10px;
        }
      }
    }

    p.note {
      font-size: var(text-size-desktop);
      font-weight: 500;
      color: var(--primary-color);
      text-align: center;
    }
  }

  .conditions-grid,
  .obligations-grid,
  .finances-grid {
    display: flex;
    gap: 50px;

    .condition-item,
    .obligation-item,
    .finance-item {
      margin-bottom: 75px;
      border: 2px solid var(--danger-color);
      border-radius: 20px;
      padding: 32px;
      background-color: var(--light-color);

      i {
        font-size: 36px;
        color: var(--primary-color);
        margin-bottom: var(--margin-small);
      }

      p {
        margin-bottom: 0;

        strong {
          color: var(--primary-color);
        }
      }
    }
  }

  .finances {
    margin-top: var(--margin-big);

    .subtitle {
      margin-bottom: 50px;
      font-weight: bold;
      text-align: center;

      span {
        font-size: var(--h4-size-desktop);
        margin-bottom: var(--margin-big);
        color: var(--primary-color);
      }
    }

    .finance-flex {
      display: flex;
      width: 100%;
      gap: 50px;
      margin-bottom: var(--margin-big);

      .finance-opco {
        width: 100%;
        padding: 32px;
        background-color: var(--light-color);
        border-radius: 8px;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
        i {
          font-size: var(--h2-size-desktop);
          color: var(--primary-color);
          margin-right: 8px;
        }

        p {
          margin-bottom: 0;
        }
      }

      h4 {
        margin-bottom: 25px;
        font-weight: bold;

        span {
          font-size: var(--h4-size-desktop);
          margin-bottom: var(--margin-big);
          color: var(--primary-color);
        }
      }
    }

    .finance-steps {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 25px;
      width: 100%;

      .finance-step {
        font-size: 20px;
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
        p {
          margin-bottom: 0;
          line-height: 1.5;
        }
        i {
          font-size: 36px;
          color: var(--primary-color);
          margin-bottom: var(--margin-small);
        }
      }
    }
  }
}

.edit-input,
.edit-textarea {
  border: 2px solid var(--primary-color);
  padding: 5px;
  font-size: var(--text-size-desktop);
  border-radius: 5px;
}

.edit-textarea {
  width: 700px;
  min-width: 100%;
  min-height: 150px;
}

.edit-input {
  min-width: 90%;
}

.save-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 18px;
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
  &:hover {
    background: var(--button-color-hover);
  }
}

::ng-deep .organisation-banner-image {
  width: 100%;
  border-radius: 10px;
  margin: 50px 0;
}
