.conditions-page {
  width: 80%;
  margin: auto;

  .header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;

    .banner-image {
      width: 50%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .banner-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      z-index: 1000;

      h2 {
        font-size: var(--title-size-desktop);
        margin: 100px 0 var(--title-size-desktop);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;

        span {
          color: var(--primary-color);
        }
      }

      p {
        font-size: var(--h3-size-desktop);
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 100px;
        width: 75%;
      }
    }
  }

  .intro,
  .conditions,
  .certification,
  .obligations,
  .finances {
    h3 {
      font-size: var(--h3-size-desktop);
      font-weight: 700;
      margin-bottom: var(--margin-big);
      text-transform: uppercase;
    }

    p {
      line-height: 1.5;
      margin-bottom: var(--margin-big);

      strong {
        color: var(--primary-color);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: var(--margin-big);
      line-height: 1.5;

      li {
        font-size: var(--text-size-desktop);
        strong {
          color: var(--primary-color);
        }
      }
    }

    p.note {
      font-size: var(text-size-desktop);
      font-weight: 500;
      color: var(--primary-color);
    }
  }

  .conditions-grid,
  .obligations-grid,
  .finances-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    text-align: center;

    .condition-item,
    .obligation-item,
    .finance-item {
      width: 300px;
      margin-bottom: var(--margin-big);

      i {
        font-size: 36px;
        color: var(--primary-color);
        margin-bottom: var(--margin-small);
      }

      p {
        margin-bottom: var(--margin-small);

        strong {
          color: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }
      }
    }
  }

  .finances {
    margin-top: var(--margin-big);

    .finance-opco {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 8px;
      margin: auto;
      i {
        font-size: var(--h2-size-desktop);
        color: var(--primary-color);
        margin-right: 8px;
      }
    }

    .finance-details {
      margin: auto;
    }

    h4 {
      font-size: var(--h4-size-desktop);
      margin-bottom: var(--margin-big);
      color: var(--primary-color);
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 25px;
      width: 100%;

      li {
        font-size: 20px;
        flex: 5;
        margin-bottom: var(--margin-big);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--margin-small);
        i {
          font-size: 36px;
          color: var(--primary-color);
        }
      }
    }
  }
}

.edit-input,
.edit-textarea {
  border: 2px solid var(--primary-color);
  padding: 5px;
  font-size: var(--text-size-desktop);
  border-radius: 5px;
}

.edit-textarea {
  min-width: 100%;
  min-height: 150px;
}

.edit-input {
  min-width: 90%;
}

.save-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
