@use '@angular/material' as mat;

@include mat.menu-overrides(
  (
    item-spacing: 50px,
    item-icon-color: var(--primary-color),
  )
);

.menu .menu-item {
  padding: 12px 0; /* Ajustez cette valeur selon vos préférences */
}

:root {
  /* Colors */
  --primary-color: #316095;
  --secondary-color: #696969;
  --border-color: #e0e0e0;
  --success-color: #28a745;
  --info-color: #0c498f;
  --warning-color: #ffc107;
  --danger-color: #abc1db;
  --light-color: white;
  --dark-color: #3d4145;
  --background-color: #f9f9f9;
  --background-color-dark: #f4f4f4;
  --button-color: #007bff;
  --button-color-hover: #0056b3;
  --icon-color: #dc3545;

  /* Sizes */
  --title-size-desktop: 50px;
  --subtitle-size-desktop: 40px;
  --h2-size-desktop: 36px;
  --h3-size-desktop: 28px;
  --h4-size-desktop: 24px;
  --text-size-desktop: 20px;
  --small-text-size-desktop: 16px;

  /* Margins */
  --margin-big: 50px;
  --margin-medium: 25px;
  --margin-small: 15px;

  /* Paddings */
  --padding-big: 32px;
  --padding-medium: 16px;
  --padding-small: 8px;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 70px 0 0 0;
  background: var(--background-color);
  line-height: 1.6;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  color: var(--dark-color);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}

p {
  font-size: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

simple-snack-bar {
  background-color: var(--success-color) !important;
  color: var(--light-color) !important;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 5px;
}

.mat-mdc-snackbar-surface {
  background-color: var(--success-color) !important;
}
